<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>File Manager</h1>
    <%- include('partials/navbar') %>
  </header>
  <main>
    <h1><%= title %></h1>

    <form action="/folder/<%= folderId %>" method="post" enctype="multipart/form-data">
      <input type="file" name="fileupload">
      <button type="submit">Upload</button>
    </form>
    
    <% if (locals.files) { %>
      <% files.forEach(file => { %>
        <a href="#"><%= file.name %></a>
      <% }) %>
    <% } %>
  </main>
</body>
</html>