<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <script src="/script.js"></script>
  <title><%= title %></title>
</head>
<body>
  <div id="app">
    <header>
      <h1>File Manager</h1>
      <%- include('partials/navbar') %>
    </header>
    <main>

      <a class="back-button" href="/upload">< Back</a>

      <div class="folder-wrapper">
        <h1><%= title %></h1>  
        <button onclick="toggleEdit()">Edit</button>
        <a href="/folder/<%= folderId %>/delete-folder">Delete</a>
      </div>

      <form data-show-form="<%= locals.showEditFolder %>" class="rename-folder" action="/folder/<%= folderId %>/update-folder" method="post">
        <input type="text" name="folderName" id="folderName" value="<%= locals.title %>">
        <button type="submit">Update</button>
        <% if (locals.editFolderNameError) { %>
          <p class="error-text"><%= editFolderNameError %></p>
        <% } %>
      </form>

      <hr>
  
      <form class="file-select" action="/folder/<%= folderId %>" method="post" enctype="multipart/form-data">
        <label for="fileupload" class="file-label">Choose file</label>
        <input onchange="displayFile()" type="file" name="fileupload" id="fileupload" hidden>
        <span class="file-name">No file chosen</span>
        <button type="submit">Upload</button>
      </form>
      
      <% if (locals.files.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>File Name</th>
              <th>Upload Date</th>
              <th>Upload Time</th>
              <th>File Size</th>
            </tr>
          </thead>
          <tbody>
            <% files.forEach(file => { %>
              <tr>
                <td><a href="/folder/<%= folderId %>/<%= file.id %>"><%= file.name %></a></td>
                <td><%= file.dateFormatted %></td>
                <td><%= file.timeFormatted %></td>
                <td><%= file.fileSize %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <% } %>
    </main>
  </div>
</body>
</html>